%h1 
	Hey You
	=@user.name

-if["Monday", "Wednesday","Friday"].include? @day

	%p Pushup
	-if @done_pushup 
		= render "activities/pushup"
	-else
		= render "activities/pushupform" 
	%p Cardio
	-if @done_cardio 
		= render "activities/cardio"
	-else
		= render "activities/cardioform" 

-elsif["Tuesday","Thursday","Saturday", "Sunday"].include? @day
	%p Squat
	-if @done_squat 
		= render "activities/squat"
	-else
		= render "activities/squatform"
	%p Plank
	-if @done_plank 
		= render "activities/plank"
	-else
		= render "activities/plankform"
	%p Yoga
	-if @done_yoga 
		= render "activities/yoga"
	-else
		= render "activities/yogaform"

%p Burpee
-if @done_burpee 
	= render "activities/burpee"
-else
	= render "activities/burpeeform"
%p Lunch
-if @done_lunch 
	= render "activities/lunch"
-else
	= render "activities/lunchform"
