= simple_form_for([@user, @user.activities.build]) do |f|
	= f.input :name, :as => :hidden, :input_html => { :value => "Burpee" }
	= f.input :reps, :label =>"How many burpees did you complete today?"
	%br/
	= f.button :submit
