= simple_form_for([@user, @user.activities.build]) do |f|
	= f.input :name, :as => :hidden, :input_html => { :value => "Cardio" }
	= f.input :distance, :label =>"How far did you run today? (in miles)"
	%br/
	= f.button :submit
