= simple_form_for([@user, @user.activities.build]) do |f|
	= f.input :name, :as => :hidden, :input_html => { :value => "Lunch" }
	= f.input :meal, :label =>"What did you have for lunch?"
	%br/
	= f.button :submit
