= simple_form_for([@user, @user.activities.build]) do |f|
	= f.input :name, :as => :hidden, :input_html => { :value => "Plank" }
	= f.input :duration, :label =>"How long did you hold a plank for? (in seconds)"
	%br/
	= f.button :submit
