= simple_form_for([@user, @user.activities.build]) do |f|
	= f.input :name, :as => :hidden, :input_html => { :value => "Pushup" }
	= f.input :reps, :label =>"How many pushups can you complete in a minute?"
	%br/
	= f.button :submit
