= simple_form_for([@user, @user.activities.build]) do |f|
	= f.input :name, :as => :hidden, :input_html => { :value => "Yoga" }
	= f.input :yoga, as: :boolean, :label => "Did you do yoga today?"
	%br/
	= f.button :submit
