<!DOCTYPE html>
<html>
<head>
  <title>SpartanReady</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
		Logged in as <%=current_user.email %>
		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
	<p>Lets get started!</p> 
	<p> 
	<%= link_to "Login", new_user_session_path %> |
	<%= link_to "Sign Up", new_user_registration_path %>
	</p>
<%end%>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
